# Application
PORT=3055
NODE_ENV=development
FRONTEND_URL=http://localhost:3000

# Database
DB_HOST=localhost
DB_PORT=5455
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_DATABASE=nutriapp

# Redis
REDIS_HOST=localhost
REDIS_PORT=6355
REDIS_PASSWORD=

# JWT
JWT_ACCESS_SECRET=your-super-secret-access-key-change-in-production
JWT_REFRESH_SECRET=your-super-secret-refresh-key-change-in-production
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d

# Google OAuth
GOOGLE_CLIENT_ID=your-google-client-id
GOOGLE_CLIENT_SECRET=your-google-client-secret
GOOGLE_CALLBACK_URL=http://localhost:3055/auth/google/callback

# AWS SES
SMTP_HOST=email-smtp.sa-east-1.amazonaws.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=your-smtp-user
SMTP_PASSWORD=your-smtp-password
SMTP_FROM_EMAIL=no-reply@nutriapp.com
SMTP_FROM_NAME=Nutri Thata

# File Storage (Local)
API_URL=http://localhost:3055
UPLOADS_DIR=./uploads
# Diretório onde os arquivos serão salvos (relativo ao diretório raiz da aplicação)
# No Docker, use /app/uploads

